
@tailwind base;

@tailwind components;
@import "balloon";

@tailwind utilities;


svg {
    .primary {
        fill: theme('colors.teal.500');
    }

    .secondary {
        fill: theme('colors.teal.800');
    }
}


@media (max-width: 768px) {
    .table-stacked {
        overflow: hidden;
    }

    .table-stacked thead {
        display: none;
    }

    .table-stacked tr td:first-child {
        border-top: 2px solid theme('colors.teal.500');
    }

    .table-stacked tr td {
        border-top: 1px solid theme('colors.teal.200');
        width: 100%;
        max-width: 100%;
    }

    .table-stacked td:before {
        content: attr(data-label);
        float: left;
        font-weight: 300;
        font-style: italic;
        text-transform: uppercase;
        font-size: 0.9rem;
        clear: both;
    }

    .table-stacked td {
        display: block;
        text-align: right;
    }
}