
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-expensemanager {
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(132, 132, 132);
}

.table th, .table td {
  vertical-align: middle !important;
}

body {
  display: flex;
}
